<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="LinkedInTestsSuite" parallel="false">

    <test name="LinkedInRegressionTests">
        <classes>
            <class name="PostLikeTest"/>
            <class name="PostCommentsTest"/>
            <class name="PostRepostTest"/>
        </classes>
    </test>

</suite>
